{% extends 'Express/base.html' %}


{% block title %}接单 - 评分{% endblock %}


{% block head %}

    <style>
        .ui.segment {
            max-width: 650px !important;
            line-height: 1.5;
            margin-left: auto;
            margin-right: auto;
        }
    </style>
{% endblock %}


{% block content %}
    <div class="ui tall stacked segment">
        {% if control == 0 %}
            <h2>该订单已经完成</h2>
            <h3>欢迎评分</h3>


            <form id="a" class="ui form" action="" method="POST">

                {% if message %}
                    <div class="ui negative message">{{ message }}</div>
                {% endif %}

                {% csrf_token %}
                <div class="ui stacked segment">
                    <div class="big field">
                        <input class="radio_height" type="radio" name="rate" value="10" checked="checked">好评<br>
                        <input class="radio_height" type="radio" name="rate" value="5">中评<br>
                        <input class="radio_height" type="radio" name="rate" value="0">差评
                    </div>
                    <input class="ui fluid large green submit button" type="submit" name="submit" value="确认评分">
                </div>
            </form>


        {% elif control == 1 %}
            <div class="ui blue message">评分成功！</div>
            <script>
                //window.location.href = '../';
                setTimeout("javascript:location.href='./'", 1000);
            </script>
        {% else %}
            <div class="ui red message">非法访问</div>
        {% endif %}
    </div>
{% endblock %}

