{% extends 'Express/base.html' %}


{% block title %}同村传递 - 登录{% endblock %}


{% block head %}

    <style>
        body {
            background-color: #ffffff;
        }

        body > .grid {
            height: 80%;
        }

        .image {
            margin-top: -100px;
        }

        #column {
            text-align: center;
            margin-left: auto;
            margin-right: auto;
            max-width: 450px;
        }
    </style>
{% endblock %}

{% block content %}
    <div id="column">
        <h2 class="ui green image header">
            <div class="content">
                登录
            </div>
        </h2>
        <form id="a" class="ui large form" action="" method="POST">

            {% if message %}
                <div class="ui negative message">{{ message }}</div>
            {% endif %}

            {% csrf_token %}
            <div class="ui stacked segment">
                <div class="field">
                    <label>用户名</label>
                    <div class="ui left icon input">

                        <input class="ui input" type="text" name="username" id="email" placeholder="请输入用户名"
                               autofocus>
                        <i class="user icon"></i>
                    </div>
                </div>
                <div class="field">
                    <label>密码</label>
                    <div class="ui left icon input">

                        <input class="ui input" type="password" name="password" id="password"
                               placeholder="请输入密码">
                        <i class="lock icon"></i>
                    </div>
                </div>
                <input class="ui fluid large green submit button" type="submit" name="submit" value="登录">
            </div>
        </form>
        {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                    <li{% if message.tags %} class="ui {{ message.tags }} message"{% endif %}>{{ message }}</li>
                {% endfor %}
            </ul>
        {% else %}
            <div class="ui warning message">
                新用户？<a href="{% url 'Express:register' %}">注册</a>
            </div>
        {% endif %}
    </div>

{% endblock %}

